/build/
/.kdev4/
/build-*
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.pyc
*~
*.bak
*.old
*.7z
*.dmg
*.deb
*.gz
*.bz2
*.xz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.db
*.sqlite
*.kdev4
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
configure-*.bat
